@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primBtn {
    @apply h-7  hover:scale-125 cursor-pointer transition-all duration-150 ease-out;
  }
  .SpecialFont {
    @apply font-Pacifico;
  }
  /* .MobileMenuBtn {
    @apply h-8 p-1  hover:scale-125 cursor-pointer transition-all duration-150 ease-out hover:text-blue-900;
  }*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  font-family: "Rubik", sans-serif;
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed;
}
/*div a.active {
  text-decoration: underline;
}*/
